{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-8 news-content">
            {{ news.text|safe }}
        </div>
        <div class="col-4">
            <h2>Прогноз погоды в городе {{ city_name }} </h2>
            {% if weather_text %}
                {{ weather_text.temp_C }}, ощущается как {{ weather_text.FeelsLikeC }}
            {% else %}
                Сервис погоды временно недоступен
            {% endif %}
        </div>
    </div>
{% endblock %}